body {
    background-image: url('resume.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll; 
    background-size: 150% 50%;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(65, 66, 66);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: rgba(245, 122, 8, 0.959);
    }
    h3{
      color: white;
    }
    h2 {
      color: white;
    }
    h1{
      color:black;
      text-align: center;
      text-shadow: 2px 2px 4px gray;
    }
    .column {
      float:left;
      width: 20%;
      padding: 15px;
    }
  
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
    @media screen and (max-width:600px) {
      .column {
        align-content: center;
      }
    }
  