body {
    background-image: url("aaa.jpg");
    height:100vh;
    background-size:cover;
    background-position: center;
}

}
.sign-In-form {
    width:360px;
    padding:10% 0 0;
    margin:auto;
}
.form {
    width: 300px;
    height: 280px;
    margin:0 auto 100px;
    padding:45px;
    border: 5px solid rgb(172, 218, 248);
	box-shadow: 25px -25px 5px rgb(156, 165, 167);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.form input{
    font-family:"Roboto", sans-serif;
    outline:1;
    background:#ffffff;
    width:80%;
    height: 10%;
    border:0;
    margin:0 0 15px;
    padding:20px;
    box-sizing:border-box;
    font-size:14px;
}
.form button{
    font-family:"Roboto", sans-serif;
    text-transform:uppercase;
    outline:0;
    background:#4CAF50;
    width:80%;
    border:0;
    padding:15px;
    color:#FFFFFF;
    font-size:14px;
    cursor:pointer;
}
p{
    font-family:"Roboto", sans-serif;
    font-size:15px;
    padding:20px;
    color:black;
}
.form button:hover, .form button:active{
     background: #43A047;
}
.form .message{
    margin:15px 0 0;
    color:rgb(46, 16, 218);
    font-size:15px;
}
.form .message a{
    margin:15px 0 0;
    color:hsl(7, 89%, 49%);
    text-decoration: none;
    font-size:15px;
}